# *** THIS FILE IS A SHELLCONFIG REPO TEMPLATE RevB ***

# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

# Load the shared bashrc first
. ~/.shellconfig/bashrc



# System specific additions to bashrc go here
# Note that environment variables should go in ~/.bash_profile
# unless they are changes only for interactive shells.

