
# Load general profile
. "$HOME/.shellconfig/profile_script"


# Place system specific variables below
# Note that path modification functions are available as
# append_path, prepend_path, and remove_path
